.idea/
.vscode/
./client/node_modules
./server/node_modules
./server/uploadFiles
./server/upload
./server/public
var/
./server/public/images
.server/public/images
**server/public/*
*server/public/*
logs/
